<div class="navBar">
        <div class="navBarCase">
            <a href="/" class="navBarA"><div class="navBarButton">Shop</div></a>
            <div class="navBarSymbol"></div>
            <a href="/shopCart" class="navBarA"><div class="navBarButton">Shop Cart</div></a>
            <a href="/admin" class="navBarA"><div class="navBarButton">Admin</div></a>
            <a href="/history" class="navBarA"><div class="navBarButton">History</div></a>
        </div>
</div>