<div class="container">
    <div class="inputBlock">
        <p>Email:</p>
        <input class="input" id="email" type="email">
        <p>Phone:</p>
        <input class="input" id="phone" type="text">
        <button type="submit" class="shop" id="search">Submit</button>
    </div>
    <div class="productBlock" id="productBlock">

    </div>
</div>
<script src="searchOrder.js"></script>